.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2fe625), color-stop(1, #e0ffdb) );
	background:-moz-linear-gradient( center top, #2fe625 5%, #e0ffdb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fe625', endColorstr='#e0ffdb');
	background-color:#2fe625;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:41px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:2px 2px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e0ffdb), color-stop(1, #2fe625) );
	background:-moz-linear-gradient( center top, #e0ffdb 5%, #2fe625 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ffdb', endColorstr='#2fe625');
	background-color:#e0ffdb;
}.button:active {
	position:relative;
	top:1px;
}

html, body {
  background: #FFFFFF;
  COLOR: #30ff30;
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  padding: 0;
}



h1, h2{
  background: #373737;
  COLOR: #30ff30;
  padding: 10px;
  padding-left: 20px;
  margin-top: 0px;
}

h1 a {
  COLOR: #30ff30;
}

a {
  COLOR: #30ff30;
}

/*
  wrap text around after we hit 960px
*/
p {
  COLOR: #30ff30;
}

p a{
  COLOR: #30ff30;
  width: 960px;
}

canvas{
  border: solid black 1px;
}

div.tabbed {
    position: relative;
    font-size: 0;
}

div.tabbed > a {
    display: inline-block;
    padding: .5em;
    font-size: 16px;
    border-radius: 3px 3px 0 0;
    background-color: #333;
    color: #eee;
    text-decoration: none;
    line-height: 1em;
}

div.tabbed > a + a {
    margin-left: .5em;
}

div.tabbed > a:target {
    color: #333;
    background-color: #eee;
}

div.tabbed > a > div {
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    padding: .5em;
    border-radius: 0 3px 3px 3px;
    display: none;
    color: #333;
    background-color: #eee;
}

div.tabbed > a:target > div {
    display: block;
}
table{
    background: gray;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}